{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="mt-5">News</h2>
      {% for hw in hws %}
      <div class="card mx-auto mt-4">
        <div class="card-body">
          <h5 class="card-title">Homework {{ hw.id }} is now ready</h5>
          <h6 class="card-subtitle mb-2 text-muted">Submission:

            <span class={% if hw.status == 'OPEN' %} "submission-open" {% else %} "submission-closed"
              {% endif %}>{{ hw.status }}</span>
          </h6>
          <p class="card-text">Deadline: 2020-02-01 11:55 PM</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}